@model CourseViewModel

@{
    ViewData["Title"] = "Add Course";
}

<form asp-controller="Course" asp-action="AddNewCourse" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="ActiveCourse.CourseName">Couse Name</label>
        <input type="text" asp-for="ActiveCourse.CourseName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveCourse.Credits">Credits</label>
        <input type="text" asp-for="ActiveCourse.Credits" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="Course" asp-action="GetAllCourses" class="btn btn-primary">Cancel</a>
</form>

