@model Course

@{
    ViewData["Title"] = "Delete a course";
}

<div>
    <h4>Confirm delete:</h4>
    <p>Are you sure you want to delete @Model.CourseName</p>
</div>

<!-- set up the form POST request to be handler by our Delete action on our Student controller: -->
<form asp-controller="Course" asp-action="DeleteCourse" method="post" enctype="application/x-www-form-urlencoded">
    <!-- Add th Id (i.e. PK) field as a hidden input element: -->
    <input type="hidden" asp-for="CourseId" />

    <!-- submit & cancel buttons: -->
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Course" asp-action="GetAllCourses" class="btn btn-primary">Cancel</a>
</form>
