@model CourseViewModel
@{
    ViewData["Title"] = "Edit Course";
}

<form asp-controller="Course" asp-action="EditCourse" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <!-- Our partial view addition -->
    <partial name="_CourseForm" model="@Model" />

    <input type="hidden" asp-for="ActiveCourse.CourseId" />

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="Course" asp-action="GetAllCourses" class="btn btn-primary">Cancel</a>
</form>

